body
{
	background-color: #252525;
	background-image: repeating-linear-gradient(15deg,
      transparent,
      #303030 5px,
      black 10px,
      black 5px);
}

.square
{
	width: 30%;
	background: orange;
	padding-bottom: 30%;
	float: left;
	margin: 1.66%;
}

#container
{
	margin: 0 auto;
	max-width: 500px;
}

h1
{
	color: white;
}

span
{
	color: rgb(155, 25, 10);
}

#navbar
{
	background-color: white;
	height: 30px;
	text-align: center;
}