body {
  background-color: rgb(0, 150, 175);
  font-family: cursive;
}

.selectGlow
{
	color: #dba110;
	-webkit-animation: neon5 1.5s ease-in-out infinite alternate;
	-moz-animation: neon5 1.5s ease-in-out infinite alternate;
	animation: neon5 1.5s ease-in-out infinite alternate;
}

.taskComplete
{
	color: white;
	opacity: 0.4;
	text-decoration: line-through;
}

@-webkit-keyframes neon5 
{
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #FF9900, 0 0 70px #FF9900, 0 0 80px #FF9900, 0 0 100px #FF9900, 0 0 150px #FF9900;
  }
  to {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #FF9900, 0 0 35px #FF9900, 0 0 40px #FF9900, 0 0 50px #FF9900, 0 0 75px #FF9900;
  }
}